# gitignore dedicated for content directory

# notebook
**/*.ipynb    
# microsoft
**/*.xlsx
**/*.vsdx
# BrickField save
**/*.io    

.chronicler-cache/
.chronicler.vault.json
.chronicler/

### Obsidian ###
# config dir
.obsidian/
_system/